{%- unless shop.password_message == blank -%}
  <div class="announcement-bar">
    <div class="page-width">
      <span class="announcement-text">{{ shop.password_message }}</span>
    </div>
  </div>
{%- endunless -%}

<div class="header-sticky-wrapper" data-section-id="{{ section.id }}" data-section-type="password-header">
  <div class="header-wrapper{% if section.settings.overlay_header %} header-wrapper--sticky is-light{% endif %}">
    <header class="site-header site-header--password" role="banner">
      <div class="page-width">
        <div class="password-page__header__grid">
          <div class="password-page__header__grid-item password-page__logo">
            <h1 itemscope itemtype="http://schema.org/Organization" class="h2">
              {%- if section.settings.logo != blank -%}
                {%- assign header_logo_size = section.settings.desktop_logo_height | prepend: 'x' -%}
                {%- assign header_logo_size_mobile = section.settings.mobile_logo_height | prepend: 'x' -%}
                {%- style -%}
                  .password-page__logo h1 {
                    height: {{ section.settings.mobile_logo_height }}px;
                  }
                  @media only screen and (min-width: 769px) {
                    .password-page__logo h1 {
                      height: {{ section.settings.desktop_logo_height }}px;
                    }
                  }
                {%- endstyle -%}
                <img
                  class="small--hide"
                  src="{{ section.settings.logo | img_url: header_logo_size }}"
                  srcset="{{ section.settings.logo | img_url: header_logo_size }} 1x, {{ section.settings.logo | img_url: header_logo_size, scale: 2 }} 2x"
                  alt="{{ section.settings.logo.alt | default: shop.name }}"
                  itemprop="logo">
                <img
                  class="medium-up--hide"
                  src="{{ section.settings.logo | img_url: header_logo_size_mobile }}"
                  srcset="{{ section.settings.logo | img_url: header_logo_size_mobile }} 1x, {{ section.settings.logo | img_url: header_logo_size_mobile, scale: 2 }} 2x"
                  alt="{{ section.settings.logo.alt | default: shop.name }}">
              {%- else -%}
                <span>{{ shop.name }}</span>
              {%- endif -%}
            </h1>
          </div>

          <div class="password-page__header__grid-item password-page__login">
            <a href="#LoginModal" class="js-modal-open-login-modal password-login">
              <span class="password__lock">
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-lock" viewBox="0 0 64 64"><defs><style>.cls-1{fill:none;stroke:#000;stroke-width:2px}</style></defs><path id="svg_2" data-name="svg 2" class="cls-1" d="M20.48 24v-3c0-6.6 5.52-11 11.76-11C39 10 44 15.13 44 21v3"/><path id="svg_4" data-name="svg 4" class="cls-1" d="M11.62 24h41.25v29.77H11.62z"/><path class="cls-1" d="M32.24 37v7"/><circle class="cls-1" cx="32.24" cy="35.5" r="1.5"/></svg>
              </span>
              {{ 'general.password_page.password_link' | t }}
            </a>
          </div>
        </div>
      </div>
    </header>
  </div>
</div>

{% schema %}
  {
    "name": "Header",
    "class": "password-header-section",
    "settings": [
      {
        "type": "checkbox",
        "id": "overlay_header",
        "label": "Overlay header",
        "default": true
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "range",
        "id": "desktop_logo_height",
        "label": "Desktop logo height",
        "default": 50,
        "min": 20,
        "max": 120,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "mobile_logo_height",
        "label": "Mobile logo height",
        "default": 50,
        "min": 20,
        "max": 120,
        "unit": "px"
      }
    ]
  }
{% endschema %}
